*{
    margin: 0px;
    padding: 0px;
}
.jumbotron{
    margin-top: 50px;
    color: #0069d9;
    background-color: #ccc;
    text-align: center;
}
#breadcrumb{
    margin-top: -35px;
}
.imgCarrusel{
    width: 2000px;
    height: 320px;
}
.img-fluid{
    width: 1400px;
    height: auto;
}
.card{
    margin-left: 10px;
}
.card-hotel{
    /*margin: 10px;*/
    flex: 1 250px;
    padding: 2px 0px 1px 0px;
    margin-top: 10px;
}

.btn-details{
    width: 98%;
   /* position: absolute;*/
    left: 0;
    bottom: 0;
    background-color: #0069d9;
}


.btn-contacto{
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: green;
}
footer{
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 10px 10px 0 10px ;
    background-color: #ccc;
  color: #0069d9;
}
footer h3{
    font-weight: bold;
    text-align: center;
}

.footer-address-icon{
    padding-right: 10px;
}


